
.container{
    text-align: center;
    border: 1px solid darkblue;
    width: 30%;
    margin-top: 10%;
    margin-left: 30%;
    border-radius: 10px;
    height: 40%;
    box-shadow: 0px 5px 7px;
    padding: 20px;
    background-color: aliceblue;

}